@import "tailwindcss";

@theme inline {
  /* Theme Colors */
  --color-brand-dark-red: #9b2b2a;
  --color-brand-light-red: #df463a;
  --color-brand-dark-gray: #495057;
  --color-brand-light-gray: #dee2e6;
  --color-brand-white: #fdfffc;
  --color-brand-black: #0a0908;

  --font-sans: var(--font-jakarta);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--color-brand-white);
  color: var(--color-brand-black);
  font-family: var(--font-jakarta);
}
