@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme inline {
  /* Theme Colors */
  --color-brand-dark-red: #9b2b2a;
  --color-brand-light-red: #df463a;
  --color-brand-dark-gray: #495057;
  --color-brand-medium-gray: #b5b5b5;
  --color-brand-light-gray: #dee2e6;
  --color-brand-white: #f8f9fa;
  --color-brand-black: #0a0908;

  --font-sans: var(--font-jakarta);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--color-brand-white);
  color: var(--color-brand-black);
  font-family: var(--font-jakarta);
}

.tiptap p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

.prose blockquote {
  border-left: 4px solid #e5e7eb;
  padding-left: 1rem;
  font-style: italic;
  color: #4b5563;
}
